body {
    background-color: #f6f6c3;
    font-family: Arial, sans-serif;
  }
.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

  }
  
  h1 {
    color: #333;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #answer {
    margin-top: 20px;
  }
  
  #answerText {
    font-size: 18px;
  }
  
  .hidden {
    display: none;
  }
  
  @media (max-width: 600px) {
    .container {
      width: 90%;
    }
  }